body html
{
    Height: 100%;
    Margin: 0;
    Font-size: 18px;
   font-family: Lato, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    Line-height: 1.6em;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Lato:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


/*headings and logos*/

h1, h2 {
    font-family: Cormorant, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/*navigation links*/
h1, h2 {
    font-family: Cormorant, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/*navigation links*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}



#menu a {
    text-decoration: none;
    color: inherit;

}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


.menu1 {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    background-color: blanchedalmond;
}





#pizza-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: pink;
}

#pizza-image {
    height: 600px;
    width: 100%;
    background: url(../images1/three-pizzas.jpeg) no-repeat center center;
    /*animates zoon effect on loading page*/
    animation-name: pizza-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/*creates the level of zoom for pizza image*/
@keyframes pizza-zoom {
    from{
transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Cormorant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 400px;
    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(180, 15, 13, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* menus */
.all-menus {
    list-style: none;


}
#food-menus {
    height: 600px;
    text-align: center;
    letter-spacing: 2px;
   
}

h3 {
    text-transform: uppercase;
    color: black;
}

.ul.no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: inline-block;
}

.left {
    text-align: center; 
    width:33%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    list-style-type: none;
    display: inline-block;
}

#welcome {
    text-align: left;
    margin-left: 10%;
    color: black;
    line-height: 30px;
}

.container {
    Background-color: #fafafa;
    Margin: 200px;
    Box-shadow: rgba(0, 0, 0, .1);
    Grid-template-columns: 40% 60%;
    }

    .time-container {
        Background-color: rgba(0, 0, 0, .85);
        Padding:50px;
        Outline: 5px dashed #3a3a3a;
        Outline-offset: 20px;
        Text-align: center;
        }

        .heading 
            {
                Font-size: 35px
                Text-transform: uppercase;

        }